.global {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px 10px 20px;
  background: url(https://images.unsplash.com/photo-1628181080699-0f81c68d9934) no-repeat center/cover;
  height: 100vh;
}